[esp32-presence]

########
# WiFi #
########
wifi_ssid = "MySSID"
wifi_password = "1234"
# None | WPA | WPA2Personal | WPAWPA2Personal | WPA3Personal | WPA2WPA3Personal
wifi_auth_method = "WPA2Personal"
# The maximum WiFi transmit power, in dBm, from 2-20 (inclusive).
#wifi_max_tx_power = 20
# Once the WiFi RSSI is under this value, it will disconnect and enter the MQTT reconnect timeout.
#wifi_disconnect_rssi = -80
# How long the WiFi signal must be under the wifi_disconnect_rssi before it's disconnected.
#wifi_disconnect_seconds = 4
# How long after WiFi has connected should the RSSI threshold be ignored.
#wifi_ignore_rssi_seconds = 10

########
# MQTT #
########
mqtt_host = "yourpc.local"
mqtt_user = "you"
mqtt_pass = "1234"
# The MQTT node name for this device. This must be unique.
mqtt_node = "presence-node-1"
#mqtt_discovery_prefix = "homeassistant"
# The MQTT payload sent when the device connects.
#mqtt_on_payload = "ON"
# The MQTT payload sent when the device disconnects.
#mqtt_off_payload = "OFF"
# How long, in seconds, must MQTT be disconnected before entering the reconnect timeout.
#mqtt_disconnected_timeout = 10
# After MQTT has been disconnected, how long, in seconds, must we wait before trying to reconnect.
#mqtt_reconnect_timeout = 300
