[esp32-presence]

########
# WiFi #
########
wifi_ssid = "MySSID"
wifi_password = "1234"
wifi_auth_method = "WPA2Personal"
# wifi_starting_tx_power = 5
# wifi_max_tx_power = 20
# After power on, how long should we wait without a WiFi connection before switching to max power
# wifi_tx_increase_power_seconds = 300

########
# MQTT #
########
mqtt_host = "yourpc.local"
# mqtt_node = "presence-node-1"
mqtt_user = "you"
mqtt_pass = "1234"
# mqtt_discovery_prefix = "homeassistant"
# mqtt_on_payload = "ON"
# mqtt_off_payload = "OFF"
# After MQTT disconnects, how long should we wait before trying to reconnect
# mqtt_min_reconnect_seconds: 300,
